* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Edu NSW ACT Foundation', sans-serif;
    color: $dark;
    background-color: $backgroundColor;
}

p {
    text-decoration: none;
}
